* {
   font-family: Arial, Helvetica, sans-serif;
}

.tit {
   font-size: 70PX;
   color: white;
}

.divisao {
   
   background-color: rgb(0, 18, 56);
   border: solid rgb(255, 255, 255);
   border-radius: 20px;
   box-shadow: 0 0 100000px rgb(0, 0, 31);
   padding: 10px;
  text-align: center;
    
  
   justify-content: center;
}

button:hover {
   background-color: rgb(255, 255, 255);
}

.expric {
   margin: 10px;
   width: 1000px;
   border: solid 1px rgb(0, 18, 56);
   box-shadow: 0 0 1px rgb(0, 18, 56);
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   color: rgb(0, 18, 56);
   text-align: center;
}

.pai {
   display: flex;
   gap: 1px;
}

.expric:hover {
   border: solid 3px rgb(0, 18, 56);
   transform: scale(1.1);
   box-shadow: 0 0 0 1px rgb(0, 26, 255);
}

.divi{
  
   text-align: center;
   background-color:rgb(0, 18, 56);
     margin: 80px;
 color: rgb(255, 255, 255);
  margin-left: 4px;
  margin-right:5px ;
 border: solid 4px white;
 border-radius: 10px rgb(0, 18, 56);
 
   
}

button {
   border-radius: 5px;
   margin: 5px;
   border: solid 1px rgb(0, 18, 56);
   height: 60px;
   width: 110px;
   box-shadow: 0 0 1px rgb(0, 18, 56);
   background-color: rgb(255, 255, 255);
   color: rgb(0, 18, 56);
   text-align: center;
   justify-content: center;
}

button:hover {
   transform: scale(1.1);
   border-radius: 5px;
   border: solid 1px rgb(255, 255, 255);
   background-color: rgb(0, 37, 139);
   color: aliceblue;
}

.divisorio {
   padding: 0px;
   background-image: url(/IMG/ChatGPT\ Image\ 28\ de\ mai.\ de\ 2026\,\ 11_18_48.png);
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   display: grid;
   grid-template-columns: 50% 50%;
   justify-items: center;
   align-content: center;
   
}


 
.bode {
   background-image: url("ChatGPT\ Image\ 29\ de\ mai.\ de\ 2026\,\ 09_01_08.png");

   background-image: url(/IMG/ChatGPT\ Image\ 28\ de\ mai.\ de\ 2026\,\ 11_07_14.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.sloga {

  

 width: 500px;
   font-size: 80px;

   font-size: 60px;
   width: 700px;
}
span{color: rgb(0, 44, 138); ;
 font-size: 70px;

}

img{

background-size: cover;
border-radius: 10px;
box-shadow: 0 0 10px rgb(0, 0, 0);
  }
img:hover{transform: scale(1.1);
 }




.BOT{
 border-radius: 5px;
   margin: 5px;
   border: solid 1px rgb(0, 18, 56);
   height: 60px;
   width: 110px;
   box-shadow: 0 0 1px rgb(0, 18, 56);
   background-color: rgb(255, 255, 255);
   color: rgb(0, 18, 56);
   justify-content: center;
  text-align: center;
}
.BOT:hover{
   transform: scale(1.1);
   border-radius: 5px;
   border: solid 1px rgb(255, 255, 255);
   background-color: rgb(0, 37, 139);
   color: aliceblue;  }

   nav{  justify-content: center;
  text-align: center;}
.du{

 text-align: center;
justify-content: center;
  }

  .sloga1{
   font-size: 35px;
   color: rgb(0, 0, 0)
  ;}