* {
   font-family: Arial, Helvetica, sans-serif;
}

.tit {
   font-size: 70PX;
   color: white;
}

.divisao {
   text-align: center;
   background-color: rgb(0, 18, 56);
   border: solid rgb(255, 255, 255);
   border-radius: 20px;
   box-shadow: 0 0 100000px rgb(0, 0, 31);
   padding: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

button:hover {
   background-color: rgb(255, 255, 255);
}

.expric {
   margin: 10px;
   width: 1000px;
   border: solid 1px rgb(0, 18, 56);
   box-shadow: 0 0 1px rgb(0, 18, 56);
   background-color: rgb(255, 255, 255);
   border-radius: 10px;
   color: rgb(0, 18, 56);
   text-align: center;
}

.pai {
   display: flex;
   gap: 1px;
}

.expric:hover {
   border: solid 3px rgb(0, 18, 56);
   transform: scale(1.1);
   box-shadow: 0 0 0 1px rgb(0, 26, 255);
}

.divi {
   text-align: center;
   background-color: rgb(9, 56, 0);
   border: solid rgb(255, 255, 255);
   color: aliceblue;
   box-shadow: 0 0 100000px rgb(0, 0, 31);
   justify-content: center;
   position: fixed;
   bottom: 0;
   width: 100%;
}

button {
   border-radius: 5px;
   margin: 5px;
   border: solid 1px rgb(0, 18, 56);
   height: 60px;
   width: 110px;
   box-shadow: 0 0 1px rgb(0, 18, 56);
   background-color: rgb(255, 255, 255);
   color: rgb(0, 18, 56);
   text-align: center;
   justify-content: center;
}

button:hover {
   transform: scale(1.1);
   border-radius: 5px;
   border: solid 1px rgb(255, 255, 255);
   background-color: rgb(0, 37, 139);
   color: aliceblue;
}

.divisorio {
   padding: 0px;
   background-image: url(/IMG/ChatGPT\ Image\ 28\ de\ mai.\ de\ 2026\,\ 11_18_48.png);
   height: 500px;
   background-size: cover;
   background-repeat: no-repeat;
   display: grid;
   grid-template-columns: 50% 50%;
   justify-items: center;
   align-content: center;
}

body {
   min-height: 100vh;
   /* display: flex;
   align-items: center;
   justify-content: center; */
   background-color: rgb(204, 204, 204);
}

.carrossel {
   max-width: 400px;
   overflow: hidden;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

.slides {
   display: flex;
   transition: transform 0.5s ease-in-out;
}

.slides img {
   max-width: 100%;
   object-fit: contain;
   display: block;
}

.coluna1 {
   float: left;
   width: 45%;
   padding: 10px;
   font-size: 25px;
   border: solid;
   border-radius: 10px;
}

.coluna2 {
   float: right;
   width: 45%;
   padding: 10px;
}

.bode {
   background-image: url("ChatGPT\ Image\ 29\ de\ mai.\ de\ 2026\,\ 09_01_08.png");
   background-color: rgb(255, 255, 255);
   background-image: url(/IMG/ChatGPT\ Image\ 28\ de\ mai.\ de\ 2026\,\ 11_07_14.png);
   background-size: cover;
   background-repeat: no-repeat;
}

.sloga {
   padding: 100px;
   margin: 0px;
   font-size: 60px;
   background-color: rgb(248, 248, 248);
   width: 700px;
}

span {
   color: rgb(0, 0, 71);
}